body, html {
  height: 100%;
  margin: 0;
  background: #ecf0f1;
}
body {
  font-family: 'Ubuntu', sans-serif;
  background-image: url('/assets/img/background.jpg');
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-size: 25px;
  text-shadow: 2px 2px #1a1a1a;
}
h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

hr {
  margin: auto;
  width: 45%;
  color: #009999;
}

button {
  margin: 2px 8px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  padding: 8px 12px;
  background-color: #009999;
  border: #009999;
  border-radius: 8px;
  color: white;
  font-size: 15px;
}

button:hover {
  opacity: 0.8;
}
.blurple-button {
  background-color: #7289DA;
  border: #7289DA;
}
::selection {
  background: #009999;
}
::-moz-selection {
  background: #009999;
}
